html{
    background-color: pink;
    padding: 10px;
    margin: 1px 1px 1px 1px;
    font-family: "Noto Serif Georgian", monospace;
}
h1{
    text-align: center;
}
section{
    box-sizing: border-box;
    width: 50%;
    height: auto;
    border: deeppink solid 1px;
    float: left;

}