body{font-family:Verdana,sans-serif;font-size: 1.1em;background-color: #c0c0c0; color: #00008B;}

h1{font-variant: small-caps; background-color: #FF000C;}

a:hover{border-color: black;border-width: 1px; border-style: solid;}

.Stippeltjesrand{border: 1px dotted cornflowerblue;}

