.color-picker {
    border: solid 5px lightgray;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 20px;
}

.sliders {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.swatch-container {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

/* Swatch */
.swatch {
    border: solid 1px black;
    border-radius: 5px;
    height: 5em;
    width: 5em;
    margin-bottom: 10px;
    display: inline-block;
}

/* Kopieerknop */
#copykleur {
    display: inline-block;
    vertical-align: middle;
}

/* Gekopieerde kleuren */
.copykleurenlijst {
    white-space: nowrap;
}

.copied-color {
    display: inline-block;
    border: solid 2px black;

    padding: 10px;
    margin-right: 10px;
    height: 5em;
    width: 5em;
}

/* 'x' */
.copied-color span {
    cursor: pointer;
    float: right;
    display: block;
    margin-top: -10px;
    background-position: 10px;
}

