

body {
    margin-left: 200px;
    margin-right:200px;
}



input{
    height: 30px;
    width: 95%;
}
#GO{
    background-color: lightgreen;
    height: 40px;
    border-radius: 5px;
    width: 100%;
    border: 1px solid grey;
}


#historycards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card {
    flex: 1 0 auto;
    margin: 0 5px;
}
