body {
	font: 1.2em/1.2 Helvetica, aria, sans-serif;
	margin: 0 3%;
}

h1 {
	font-size: 1.8em;
	margin: .9em 0 0 0;
}
h2 {
	font-size: 1.5em;
	margin: 1.5em 0 0 0;
}

img {
	max-width: 100%;
}

figure {
	background: black;
	border-radius: 5px;
	color: red;
	margin: 0 0 25px 0;
	padding: 10px;
	text-align: center;

}

figcaption {
	font-size: .8em;
}
footer{
	text-align: center;
	font-size: 15px;
}


@media screen and (max-width: 768px) {
	body {
		width: fit-content;
	}


}

@media screen and (min-width: 768px) and (max-width: 992px) {
	body {
		background-color: #CBC3E3;
	}
	figure:nth-of-type(odd)
	{
		float: left;
		width: calc(50% - 25px);

	}
	figure:nth-of-type(even)
	{   float: right;
		display: inline-block;
		width: calc(50% - 25px);
	}
}
@media screen and (min-width: 992px)
{
	body{
		background-color: #cdffcd;
	}
	figure{
		float:none;
		display: inline-block;
		width: calc(33% - 30px);
		margin: 5px;
	}



}
