.memory-card {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

.achterkantKaart {
    background-image: url('../images/achterkant.jpg');
}
